.my-orders {

    padding: 20px;
    border-radius: 8px;
}


.my-orders h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.container {
    flex-wrap: wrap;
    gap: 20px;
}


.my-orders-order {
    background-color: #fff;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.my-orders-order:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.my-orders-order img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.my-orders-order img:hover {
    transform: rotate(10deg);
}

.my-orders-order p {
    margin: 5px 0;
    transition: color 0.3s ease;
}

.my-orders-order p:hover {
    color: #000;
}

.my-orders-order button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.my-orders-order button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}