.app-download{
    text-align: center;
    margin: 5% 0%;
}

.app-download p{
    font-size: 40px;
}

.app-download-platform img{
    margin: 0% 1%;
    transition: 0.5s;
}

.app-download-platform img:hover{
    transform: scale(1.05);
}


@media only screen and (max-width: 600px){

    .app-download p{
        font-size: 30px;
    }

    .app-download-platform img{
        height: 50px;
    }
  


}