.header {
    height: 70vh;
    background: url('../../assets/header_img.png') no-repeat;
    background-size: contain;
    position: relative;

}

.header-content {

    position: absolute;
    padding-left: 5%;
    top: 30%;
    width: 60%;
}

.header-content h1 {
    font-size: 50px;
    color: white;
    font-weight: 500;

}

.header-content p{
    color: white;
}

.header-btn{
    height: 30px;
    width: 100px;
    border-style:solid;
    border-radius: 10px;
    cursor: pointer;
    
}

@media only screen and (max-width: 600px) {

    .header{
        height: 200px;
     background: url('../../assets/header_img.png') no-repeat;
     background-size:contain;
    }

    .header-content p{
        display: none;
    }


    
    .header-content{
    top: 6%;
    width: 90%;

    }

    .header-content h1{
        position: block;
        margin: 0px;
        margin-bottom: 5%;
        font-size: 30px;
    }






}