/* List.css */
.list {
  padding: 20px;
  max-width: 100%;
  width: 100%;
  overflow-x: auto;
}

.list p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.list-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.list-table-format {
  display: table-row;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;
}

.list-table-format.title {
  font-weight: bold;
  background-color: #f4f4f4;
}

.list-table-format:hover {
  background-color: #f1f1f1;
}

.list-table-format > * {
  display: table-cell;
  padding: 10px;
  text-align: left;
  vertical-align: middle;
}

.list-table-format img {
  max-width: 50px;
  height: auto;
  border-radius: 5px;
}

.cursor{
  cursor: pointer;
}

@media (max-width: 768px) {
  .list-table-format > * {
    padding: 8px;
    font-size: 0.9em;
  }
}